<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/workoutstyles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='workoutstyles.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="right-side">
                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/fitness-logo-design%2Cgym-logo%2Chealth-logo-template-9667c79790d895428b781ef856f03523_screen.jpg?ts=1667269400"
                    alt="">
            </ul>
            <ul class="left-side">
                <li><a href="" class="active">Home</a></li>
                <li><a href="">Routines</a></li>
                <li><a href="">Workouts</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="image_container">
        <div class="container">
            <div class="search_wrap search_wrap_1">
                <div class="search_box">
                    <input type="text" class="input" id= "studentIdInput" placeholder="Enter Student ID...">
                    <div class="btn btn_common">
                        <button onclick=""><i class='bx bx-search'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workouts">
        <div class="split">
            <div class="workout-container">
                <div class="card-workouts">
                    <div class="card-text">
                        <h3>Pushups</h3>
                        <p>sets</p>
                    </div>
                    <div class="edit-button">
                        <input type="checkbox"></input>
                    </div>
                </div>
                <div class="card-workouts">
                    <div class="card-text">
                        <h3>Bench Press</h3>
                        <p>sets</p>
                    </div>
                    <div class="edit-button">
                        <input type="checkbox"></input>
                    </div>
                </div>
                <div class="card-workouts">
                    <div class="card-text">
                        <h3>Chest Flies</h3>
                        <p>sets</p>
                    </div>
                    <div class="edit-button">
                        <input type="checkbox"></input>
                    </div>
                </div>
            </div>
            <div class="exercise">
                <div>
                    <div class="card-workouts">
                        <div class="card-text">
                            <h3>Pushups</h3>
                            <p>sets</p>
                        </div>
                        <div class="edit-button">
                            <input type="checkbox"></input>
                        </div>
                    </div>
                    <div class="card-workouts">
                        <div class="card-text">
                            <h3>Bench Press</h3>
                            <p>sets</p>
                        </div>
                        <div class="edit-button">
                            <input type="checkbox"></input>
                        </div>
                    </div>
                    <div class="card-workouts">
                        <div class="card-text">
                            <h3>Chest Flies</h3>
                            <p>sets</p>
                        </div>
                        <div class="edit-button">
                            <input type="checkbox"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>